<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <script src="./socket.io/socket.io.js"></script>
</head>
<body>
    <h1>CHAT</h1>

    <script>
        let socket = io();
        socket.on("sms", data =>{
            console.log("Info from server: ", data)
        })
    </script>
</body>
</html>